<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
  <form action="/process_data/" enctype="application/json" method="POST">
    <input type="hidden" name="index" value="1">
    <input type="submit" class="btn btn-dark" value="Нажать 1">
</form>

<form action="/process_data/new" enctype="application/json" method="POST">
    <input type="hidden" name="index" value="2">
    <input type="submit" class="btn btn-dark" value="Нажать 2">
</form>
</body>



</html>